body {
    width: 80%;
    margin: auto;
    box-sizing: border-box;
}

img:hover {
    cursor: pointer;
}

.womenpage a {
    text-decoration: none;
    color: white;
    margin-bottom: 30px;
}

.sale-img {
    margin-bottom: 20px;
}

.sticky {
    color: red;
    background-color: #fbf5f36a;
    position: sticky;
    height: 35px;
    top: 0px;
}

.p-tag {
    position: relative;
    top: 5px;
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgc-ash {
    height: 200px;
    background-color: #f6f6f6;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
    padding-top: 2vw;
}

.bgc-ash:hover {
    cursor: pointer;
}

.bgc-ash>p:first-child {
    font-size: 13px;
}

.bgc-ash>:nth-child(2) {
    font-size: 22px;
    font-weight: 300;
}

.bgc-ash>p:nth-child(3) {
    font-size: 12px;
    margin-bottom: 30px;
}

.bgc-ash>p:nth-child(4) {
    font-size: 14px;
    display: inline;
    background-color: black;
    color: white;
    margin-left: 44%;
    padding: 10px 20px;
}

span {
    font-size: 10px;
    padding-bottom: 10px;
}

.tagline>div {
    width: 40%;
}

.tagline>div>p:first-child {
    font-size: 15px;
    text-transform: uppercase;
}

.tagline>div>p:nth-child(2) {
    font-size: 20px;
}

.block-1 {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 420px 150px 420px;
    column-gap: 20px;
    grid-template-areas: "one two" "one three" "one four"
}


/* .block-1>div {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
} */

.block-1>div:first-child {
    grid-area: one;
}

.block-1>div:nth-child(2) {
    grid-area: two;
}

.block-1>div:nth-child(3) {
    grid-area: three;
}

.block-1>div:nth-child(4) {
    grid-area: four;
}

.block-1>div>img {
    width: 100%;
    margin-bottom: 30px;
}

.block-1>div>img+p {
    display: inline;
    margin-left: 40%;
    background-color: black;
    color: white;
}

.block-1>div:first-child>img {
    height: 890px;
}

.block-1>div:nth-child(3)>p:first-child {
    font-size: 15px;
    text-transform: uppercase;
}

.block-1>div:nth-child(3)>p:nth-child(2) {
    font-size: 20px;
}

.block-2 {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 420px 150px 420px;
    column-gap: 20px;
    grid-template-areas: "two one" "three one" "four one"
}


/* .block-2>div {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
} */

.block-2>div:first-child {
    grid-area: one;
}

.block-2>div:nth-child(2) {
    grid-area: two;
}

.block-2>div:nth-child(3) {
    grid-area: three;
}

.block-2>div:nth-child(4) {
    grid-area: four;
}

.block-2>div>img {
    width: 100%;
    margin-bottom: 30px;
}

.block-2>div>img+p {
    display: inline;
    margin-left: 40%;
    background-color: black;
    color: white;
}

.block-2>div:first-child>img {
    height: 890px;
}

.block-2>div:nth-child(3)>p:first-child {
    font-size: 15px;
    text-transform: uppercase;
}

.block-2>div:nth-child(3)>p:nth-child(2) {
    font-size: 20px;
}

.notoverlap{
 margin-top:-30px;
}

.tagline-2>p:first-child {
    font-size: 15px !important;
    text-transform: uppercase;
}

.tagline-2>p:nth-child(2) {
    font-size: 20px;
    font-weight: 500;
}

.image-container>div {
    width: 25%;
    height: 250px;
    margin: 8px;
}

.image-container>div>img {
    width: 100%;
}

.image-container p {
    text-align: center;
    font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
}

.last-button {
    height: 100px;
    margin-top: 50px;
    padding-top: 50px;
}

.bigfont {
    margin: auto;
    font-size: 30px;
    margin-bottom: 70px;
    max-width: 500px !important;
}

.smallfont {
    margin: auto;
    font-size: 17px !important;
    text-transform: uppercase;
    max-width: 500px !important;
}

.bigfonta {
    margin: auto;
    font-size: 30px;
    margin-bottom: 30px;
    max-width: 500px !important;
}

.smallfonta {
    margin: auto;
    margin-top: -40px;
    font-size: 17px !important;
    text-transform: uppercase;
    max-width: 500px !important;
}